<!--Jahnavee parmar
 This is footer for every page -->
		</div>
		</div>
	</div>
</section>

<aside class="bg-dark">
	<div class="container footer-info">

		<div class="col-md-12">
			<h4>Jahnavee parmar | Web Developer | Programmer</h4>
			<!--<a href="http://startbootstrap.com/template-overviews/creative/" class="btn btn-default btn-xl sr-button">Download Now!</a>-->
		</div>

		<!--adding links to connect with -->
		<div class="col-md-6 col-sm-6">
			<div>
				<ul>
					<a href="https://github.com/Jahnavee" title="GitHub" target="_blank"><i class="fa fa-github fa-2x"></i></a>
					<a href="https://www.linkedin.com/nhome/" title="LinkedIn" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
					<a href="https://www.facebook.com/" title="Find me on Facebook" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
					<a href="https://plus.google.com/u/1/explore" title="Googleplus" target="_blank"><i class="fa fa-google-plus fa-2x"></i></a>
				</ul>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 copy">&copy;JP</div>




	</div>

</aside>
<!-- jQuery -->
<script src="vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="vendor/scrollreveal/scrollreveal.min.js"></script>
<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Theme JavaScript -->
<script src="js/creative.min.js"></script>

</body>

</html>
