<%include partials/header.ejs%>
<h1>Computer Related Experience </h1>
<p>Created Website for Taj Bistro Sudbury(2015-2016)</p>
<br>
<h1>Education</h1>
<p>Georgian College (2015-present)</p>
<p>Computer Programmer, Diploma</p>
<br>
<h3>Higher Education (2013-2015) </h3>
<p>Basic knowledge of Programming</p>
<br>
<h3>My projects </h3>
<%include partials/footer.ejs%>
