<!--Jahnavee Parmar
This page describes about myself the work experience and projects-->

<!--adding header-->
<%include partials/header.ejs%>
<div class="container skills">
    <div class="row">
<div class="col-md-6 col-sm-6">
    <!--adding content-->
<h2>Higher Education</h2>
<h4>Georgian College (2015-present)</h4>
<h4>Computer Programmer, Diploma</h4>

<h2>Education </h2>
<h4>Akshay Academy (2013-2015)</h4>
    <h2>Work Experience</h2>
    <h4><a href="http://gc200329020.computerstudi.es/taj/" title="Taj Bistro">Taj Bistro(May-September 2016)</a></h4>
    <h4><a href="#" title="Tim Hortons">Tim Hortons(November 2015-Present)</a></h4>

    <!--<h4>See my complete resume here: <a href="#"> <img class="img-responsive" src="/img/jahnavee.pdf"></a></h4>-->
</div>

        <!--links to projects-->
<div class="col-md-6 col-sm-6">
    <div class="text-xs-center" id="example-caption-5">HHTML/CSS</div>
    <progress class="progress progress-success" value="80" max="100" aria-describedby="example-caption-5"></progress>

    <div class="text-xs-center" id="example-caption-4">MySql</div>
    <progress class="progress progress-info" value="75" max="100" aria-describedby="example-caption-4"></progress>

    <div class="text-xs-center" id="example-caption-3">PHP</div>
    <progress class="progress progress-warning" value="50" max="100" aria-describedby="example-caption-3"></progress>

    <div class="text-xs-center" id="example-caption-2">Mean Stack</div>
    <progress class="progress progress-danger" value="45" max="100" aria-describedby="example-caption-2"></progress>

    <div class="text-xs-center" id="example-caption-1">Java & C#</div>
    <progress class="progress" value="25" max="100" aria-describedby="example-caption-1"></progress>
</div>
</div>
</div>
<!--adding footer-->
<%include partials/footer.ejs%>
