<%include partials/header.ejs%>
<h3>Introduction</h3>
<p>I am jahnavee parmar living in Barrie,ON, Canada.I am computer programmer student at georgian college</p>
<br>
<p>I love web designing and programming. I am from India.</p>
<%include partials/footer.ejs%>
