<%include partials/header.ejs%>
<!--<img src="../images/jahnavee.JPG" alt="..." class="img-circle">	-->
<div class="container home">
	<div class="row">
		<div class="sol-md-4 col-sm-4">
			<img class="img-responsive" src="/img/jahnavee.jpg"/>
		</div>
		<div class="sol-md-8 col-sm-8">
			<h3>Hey there!</h3>
			<p>I am Jahnavee Parmar living in Barrie, Canada. I am first year computer programming student at Georgian College. I am from India </p>
			<p>	I love learning new things, especially new technologies.I devote myself in web developing and programming.</p>
			<p>I have skills and knowledge of HTML/CSS,MySql,PHP,MeanStack(Angular.js,Node.js),Mainframe. I really enjoy web design and programming.</p>
			<p>Other than geeky stuffs I love to read novels and write poems
			</p>
		</div>
	</div>


</div>

<%include partials/footer.ejs%>
