<%include partials/header.ejs%>
  <h1>Jahnavee Parmar </h1>
  <p>I am jahnavee parmar living in Barrie,ON,Canada.I am student in georgian college studying computer programming.</p>
  <p>I love web design and I do interactive web design</p>
  <p>Apart from web design I write poems and have fun with friends</p>

  <%include partials/footer.ejs%>
