<%include partials/header.ejs%>
<title><%= title %></title>
<!--<h1><%= title %></h1>-->
<!--<p>Welcome to <%= title %></p>-->
    <link rel='stylesheet' href='/stylesheets/style.css' />

  <body>
    <h1>Jahnavee Parmar </h1>
    <p1>I am jahnavee parmar living in Barrie,ON,Canada.I am student in georgian college studying computer programming.</p1>
    <br>
      <p2>I love web design and I do interactive web design</p2>
    <br>
    <p3>Apart from web design I write poems and have fun with friends</p3>
    <%include partials/footer.ejs%>
