<%include partials/header.ejs%>
<div>
	<p >Having web skills I am dedicated to working with you through the entire process of designing </p>
	<p>I have skills and knowledge in C#, C++, Java, PHP, HTML/HTML5, SQL, Mainframe.</p>



<div class="container">
	<div class="col-md-3 col-sm-3">
		<a href="https://github.com/Jahnavee/Arduino-LED_Cube"> <img class="img-responsive" src="/img/download.png"></a>
	</div>

	<div class="col-md-3 col-sm-3">
		<a href="http://gc200329020.computerstudi.es/project/index.html"><img class="img-responsive" src="/img/download.png"> </a>
	</div>

	<div class="col-md-3 col-sm-3">
		<a href="http://gc200329020.computerstudi.es/comp1006/assigmentpart2/default.php?page_id=1"><img class="img-responsive" src="/img/download.png"> </a>
	</div>

	<div class="col-md-3 col-sm-3">
		<a href="http://gc200329020.computerstudi.es/taj/"><img class="img-responsive" src="/img/download.png"> </a>
	</div>
</div>
</div>
<%include partials/footer.ejs%>