<%include partials/header.ejs%>
<div>
	<p >Having web skills I am dedicated to working with you through the entire process of designing </p>
	<p>I have skills and knowledge in C#, C++, Java, PHP, HTML/HTML5, SQL, Mainframe.</p>
	<p>These are some of my projects I did in first year</p>



<div class="container">
	<div class="col-md-3 col-sm-3">
		<a href="https://github.com/Jahnavee/Arduino-LED_Cube"> <img class="img-responsive" src="/img/download.png">Images of 4X4X4 LED CUBE arduino project.</a>
	</div>

	<div class="col-md-3 col-sm-3">
		<a href="http://gc200329020.computerstudi.es/project/index.html"><img class="img-responsive" src="/img/download.png"> This website is built using HTML and CSS</a>
	</div>

	<div class="col-md-3 col-sm-3">
		<a href="http://gc200329020.computerstudi.es/comp1006/assigmentpart2/default.php?page_id=1"><img class="img-responsive" src="/img/download.png">This website is built by using PHP,HTML,CSS and Database </a>
	</div>

	<div class="col-md-3 col-sm-3">
		<a href="http://gc200329020.computerstudi.es/taj/"><img class="img-responsive" src="/img/download.png">This is my Co-op project. I have built Taj Bistro website. </a>
	</div>
</div>
</div>
<%include partials/footer.ejs%>