<%include partials/header.ejs%>
<h2>Services</h2>
<p>Having web skills I am dedicated to working with you through the entire process of designing </p>
<br>
<p>I have skills and knowledge in C#, C++, Java, PHP, HTML/HTML5, SQL, Mainframe.</p>
<%include partials/footer.ejs%>