
                    
                </div>
            </div>
        </div>
    </main>

		<footer class="footer footer-sub">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<p>© Personal Portfolio. All Right Reserved</p>
					</div>
					<div class="col-md-6">
						<p class="copyright">Created by <a href="#"> Jahnavee Parmar</a></p>
					</div>
				</div>
			</div>
		</footer>

	</body>
</html>